# Sensitive credentials
.env
.kaggle/
dbt/profiles/

# Logs & airflow internals
logs/
__pycache__/
*.log

# Data files
*.csv
*.gz

# Python cache
*.pyc
*.pyo
*.pyd
__pycache__/

# VS Code settings
.vscode/
